---
import { getCollection } from "astro:content";
import Base from "#layouts/Base.astro";
import Breadcrumb from "#components/Breadcrumb.astro";
import { dayFormatter } from "#utils";

export async function getStaticPaths({ paginate }) {
  const articles = await getCollection("articles");

  return articles.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: post,
  }));
}

const {
  slug,
  data: { title, description, datePublished },
} = Astro.props;

const { Content, headings } = await Astro.props.render();
---

<Base>
  <Fragment slot="head">
    <title>{`${title} — Jacob Roling`}</title>
    <meta name="description" content={description} />
  </Fragment>

  <main id="main" class="container pt-24 typography">
    <Breadcrumb />
    <h1>{title}</h1>
    <p>
      <time datetime={datePublished.toISOString()}>
        {dayFormatter.format(datePublished)}
      </time>
    </p>
    <Content />
  </main>
  <aside></aside>
</Base>
