---
import Base from "#layouts/Base.astro";
import Breadcrumb from "#components/Breadcrumb.astro";
import TOC from "#components/TOC.astro";
import { dayFormatter, slugify, sortedAndFilteredArticles } from "#utils";

export async function getStaticPaths({ paginate }) {
  const articles = await sortedAndFilteredArticles();

  return articles.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: post,
  }));
}

const {
  slug,
  data: { title, description, datePublished, tags },
} = Astro.props;

const { Content, headings } = await Astro.props.render();
---

<Base>
  <Fragment slot="head">
    <title>{`${title} — Jacob Roling`}</title>
    <meta name="description" content={description} />
  </Fragment>

  <div class="container grow">
    <div class="flex items-start">
      <main id="main" class="pt-header border-r pr-8 typography min-h-full">
        <Breadcrumb />
        <h1>{title}</h1>
        <p>Published <time datetime={datePublished.toISOString()}>{dayFormatter.format(datePublished)}</time>. Tagged: <Fragment set:html={tags.map(tag => `<a href="/blog/tag/${slugify(tag)}/page/1">${tag}</a>`).join(", ")} />.</p>
        <Content />
        <!-- <article>
          <h2 id="comments">Comments</h2>
          <h3>Leave a Comment</h3>
          <div id="comments-list"></div>
          <a id="login" href={`https://github.com/login/oauth/authorize?${new URLSearchParams({
            client_id: import.meta.env.GITHUB_CLIENT_ID,
            state: Astro.url.href
          })}`}>Login with GitHub</a>
        </article> -->
        <script src="https://utteranc.es/client.js"
            repo="jacob-roling/portfolio"
            issue-term="pathname"
            theme="preferred-color-scheme"
            crossorigin="anonymous"
            async>
        </script>
      </main>
        <aside class="sticky top-0 pt-header pl-8">
          <p>On this Page</p>
          <TOC {headings} />
        </aside>
    </div>
  </div>
</Base>
