---
import Base from "#/layouts/Base.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import jacobRolingImage from "#/assets/jacob-roling.webp";
import { experience, education, skills } from "#/data";
import { monthFormatter, sortedAndFilteredArticles } from "#utils"; 
import ArticleList from "#components/ArticleList.astro";

const articles = await sortedAndFilteredArticles();
const projects = articles.filter(({data}) => data.tags.includes("Project"));
---

<Base>
  <Fragment slot="head">
    <title>Jacob Roling — Software Engineer</title>
    <meta name="description" content="Jacob Roling is a software engineer based in South Australia, he is an experienced web and backend developer with a high proficiency in HTML, JavaScript, CSS, Rust, Go and accessibility.">
  </Fragment>

  <main id="main" class="container typography pt-header print:pt-0">
    <div class="flex gap-8">
      <div class="grow">
        <h1 id="jacob-roling" class="print:text-[2rem]">Jacob Roling</h1>
        <p>
          Software engineer focused on building products with simplicity and accessibility in mind.
        </p>
        <ul role="list" class="space-y-1">
          <li class="hidden print:list-item">
            <Icon class="inline" name="heroicons:globe-alt" aria-hidden="true" />
            <span class="sr-only">My website is </span>
            <a href={Astro.site.href.slice(0, -1)}>{Astro.site.href.slice(0, -1)}</a>
          </li>
          <li>
            <Icon class="inline" name="heroicons:map-pin" aria-hidden="true" />
            <span class="sr-only">I am located in </span>
            Adelaide, South Australia<span class="sr-only">.</span>
          </li>
        </ul>
        <button class="print:hidden button primary solid" onclick="print()">
          <Icon class="inline" name="heroicons:printer" aria-hidden="true" />
          Print
          <span class="sr-only"> page</span>
        </button>
      </div>
      <div class="hidden md:block print:block print:order-first">
        <Image
          class="rounded h-[200px] w-auto print:h-[100px]"
          src={jacobRolingImage}
          alt="Jacob Roling"
          height={200}
        />
      </div>
    </div>
    <h2 id="about">About Me</h2>
    <p>
      Hi, I have been teaching myself to code since I was 12 and for the past {new Date().getFullYear() - 2018}
      years, focused heavily on full-stack software engineering. My strength
      lies in learning quickly and focusing on fundamentals so I may apply my
      knowledge to a variety of subjects. My ambition is to continue to create simple, reliable
      and efficient solutions to software problems.
    </p>
    <h2 id="skills">Skills</h2>
    <ul class="print:hidden flex gap-1 flex-wrap" role="list">{skills.map(skill => <li class="badge">
      {skill}
    </li>)}</ul>
    <p class="hidden print:block">
      {skills.join(', ')}
    </p>
    <h2 id="work-experience">Work Experience</h2>
    <div>
      {
        experience.map(({ company, role, remote, description, date }) => (
          <div>
            <div class="flex justify-between gap-8">
              <div class="hgroup">
                <h3>
                  {company} {remote ? <span class="badge print:!hidden print:!text-[1em]">Remote</span><span class="hidden print:inline">(remote)</span> : null}
                </h3>
                <p>{role}</p>
              </div>
              <div class="mt-[1em]">
                <time datetime={date.started.toISOString()}>{monthFormatter.format(date.started)}</time>
                <span>-</span>
                {date.ended ? <time datetime={date.ended.toISOString()}>{monthFormatter.format(date.ended)}</time> : <span>Present</span>}
              </div>
            </div>
            <p>{description ? description : null}</p>
          </div>
        ))
      }
    </div>
    <h2 id="education">Education</h2>
    <div>
      {
        education.map(({ institution, qualifiation, highlights, dateCompleted }) => (
          <div>
            <div class="flex justify-between gap-8">
              <div class="hgroup">
                <h3>{qualifiation}</h3>
                <p>{institution}</p>
              </div>
              <div class="mt-[1em]">
                {dateCompleted ? <time datetime={dateCompleted.toISOString()}>{dateCompleted.getFullYear()}</time> : null}
              </div>
            </div>
            <p>{highlights}</p>
          </div>
        ))
      }
    </div>
    <h2 id="projects" class="print:hidden">Projects</h2>
    <div class="grid print:hidden grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      {projects.map(({ slug, data: { title, description } }) => <article class="relative p-4 border rounded bg-neutral-background-subtle hover:border-neutral-border-hover hover:bg-neutral-background-element transition-colors focus-within:focus">
        <header>
          <a href={`/blog/${slug}`} class="focus-visible:outline-none">
            <h3>{title}</h3>
              <span class="expand-to-relative" aria-hidden="true" />
          </a>
        </header>
        <p class="line-clamp-3">
          {description}
        </p>
      </article>)}
    </div>
    <h2 id="latest-posts" class="print:hidden">Latest Posts</h2>
    <ArticleList class="print:hidden" articles={articles.slice(0, 3)} HeadingTag="h3" />
  </main>
</Base>
